@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

iframe[hidden] {
    display: none !important;
}

.controls-link > a {
    @apply hover:bg-gray-600;
}

@media (min-width: 480px) {
    .btn-footer-row-big {
        flex-direction: row;
    }
}

.fade-in-modal {
    @apply opacity-100;
    animation: fadeInModalAni 300ms ease-out 1;
    transform: scale(1);
}

@keyframes fadeInModalAni {
    from {
        @apply opacity-0;
        transform: scale(1.1);
    }
    to {
        @apply opacity-100;
        transform: scale(1);
    }
}

.modal-width {
    min-width: 300px
}

@media (min-width: 500px) {
    .modal-width {
      min-width: 450px;
    }
}

@media (min-width: 640px) {
    .modal-width {
      min-width: 620px;
    }
}

@media (min-width: 800px) {
    .modal-width {
      min-width: 770px;
    }
}

.lazyload-placeholder {
    @apply bg-gray-700 w-full min-w-full;
}